/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 35px;
  font-weight: 600;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  justify-content: center;
}

input[type],
select[option] {
  font-weight: 600;
  font-style: bold;
}

section h3 {
  font-weight: 600;
}

section p,
.group img {
  margin: auto;
}

/* ---  Groups & Items & Classes--- */

.group {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.group img {
  width: 100%;
  justify-content: center;
  margin-top: auto;
}

.item,
.item1 {
  flex: 1;
  margin: 10px;
}

.item1 h2 {
  margin-bottom: 15px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex;
  padding-left: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.label-input {
  display: flex;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  .group {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: flex-start;
  }

  .label-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #ideas img {
    width: 95%;
    height: auto;
  }

  .item-double {
    display: flex;
    align-self: center;
  }

  nav ul {
    display: flex;
  }

  .item1 {
    flex: 1;
    margin: 10px;
    align-self: center;
  }

  .item1 h2 {
    font-size: 25px;
  }

  .flex-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: auto;
    width: 15%;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }

  form,
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  form select,
  form input {
    margin-bottom: 0px;
    width: 100%;
  }

  button {
    width: 100%;
  }
}
